		@keyframes mymove {
		  0%   {
		  	bottom: 0;
		  	opacity: 0;
		  }
		  25%  {bottom: -53px;}
		  35%  {
		  	bottom: -50px;
		  	opacity: 1;
		  }
		  70%	{
		  	bottom: -50px;
		  	opacity: 1;
		  }
		  75%  {bottom: -53px;}
		  100% {
		  	bottom: 10px;
		  	opacity: 0;
		  }
		}
		.mover__look-up_txt {
			text-align: center;
			font-size: 18px;
			margin-top: 10px;
		}
		.drop-down-form {
			margin: 10px auto; 
			display: flex;
			width: max-content;
			justify-content: center;
			align-items: center;
			flex-flow: wrap;
			position: relative;
		}
		.drop-down-form>select option input {
			text-align: center; 
			font-size: 18px; 
			letter-spacing: 1px;
			line-height: 18px;
			font-weight: normal;
			background-color: #fff;
			cursor: pointer;
		}
		.drop-down-form>input {
			height: 35px;
			width: 170px;
			padding: 6px;
		}
		.drop-down-form>select {
			height: 35px;
			width: 200px;
			padding: 6px;
		}
		.form__select-model {
			margin: 0 25px;
		}
		.form__select>option{
			background-color: #eedfdf;
			color: black;
		}
		.form__select {
			box-sizing: border-box;
			border: 1px solid black;
			transition: border-radius 1s cubic-bezier(0.81, 0.23, 1, 1);
		}
		.form__select:hover {
			background-color: #f26522;
			border-radius: 25px;
			color: white;
		}
		.form__select:focus {
			outline:none !important
		}
		.form__error_off {
			display: none;
		}
		.form__error_active {
			display: block;
			position: absolute;
			letter-spacing: 1.3px;
			margin: auto;
			border: 1px solid black;
			font-size: 16px;
			font-weight: bold;
			padding: 7px 15px;
			background-color: #efe0e0;
			animation: mymove 6s infinite;
		}
		.form__error_active>span {
			font-weight: bold;
			color: red;
		}
		@media screen and (max-width: 1390px) {
			.bg_fixed_img {display: none}
			.mover__look-up_txt { font-size: 16px;}
		}

		@media screen and (max-width: 734px) {
			.drop-down-form { flex-flow: column; }
			.mover__look-up_txt { font-size: 14px;}
		}